USE [KutuphaneOtomasyonu_242516042]
GO
/****** Object:  UserDefinedDataType [dbo].[Tip_ISBN]    Script Date: 27.11.2025 11:10:36 ******/
CREATE TYPE [dbo].[Tip_ISBN] FROM [nvarchar](50) NULL
GO
/****** Object:  UserDefinedFunction [dbo].[fn_BasimTuruBul]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =======================================================
-- 2. FONKSİYON
-- =======================================================
CREATE FUNCTION [dbo].[fn_BasimTuruBul] (@Yil INT) RETURNS NVARCHAR(50) AS
BEGIN
    DECLARE @Sonuc NVARCHAR(50);
    IF @Yil >= 2020 SET @Sonuc = 'Yeni Çıkan';
    ELSE IF @Yil >= 2000 AND @Yil < 2020 SET @Sonuc = 'Modern Basım';
    ELSE SET @Sonuc = 'Klasik/Eski Basım';
    RETURN @Sonuc;
END
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](100) NULL,
	[Durum] [nvarchar](20) NULL,
 CONSTRAINT [PK__Kategori__3214EC074746B7A2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yazarlar]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yazarlar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[Durum] [nvarchar](20) NULL,
 CONSTRAINT [PK__Yazarlar__3214EC074966DE1E] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kitaplar]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kitaplar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [dbo].[Tip_ISBN] NULL,
	[Ad] [nvarchar](100) NULL,
	[YazarId] [int] NULL,
	[KategoriId] [int] NULL,
	[YayinEvi] [nvarchar](100) NULL,
	[YayinYili] [int] NULL,
	[Durum] [nvarchar](20) NULL,
 CONSTRAINT [PK__Kitaplar__3214EC075FA985EC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_MusaitKitaplarDetayli]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ======================================================
   BÖLÜM 2: KULLANICI TANIMLI GÖRÜNÜMLER (VIEWS)
   ====================================================== */

CREATE VIEW [dbo].[vw_MusaitKitaplarDetayli]
AS
SELECT 
    K.Id AS KitapId,
    K.Ad AS KitapAdi,
    K.ISBN,
    (Y.Ad + ' ' + Y.Soyad) AS Yazar,
    C.Ad AS Kategori,
    K.YayinEvi,
    K.YayinYili
FROM 
    Kitaplar AS K
INNER JOIN 
    Yazarlar AS Y ON K.YazarId = Y.Id
INNER JOIN 
    Kategoriler AS C ON K.KategoriId = C.Id
WHERE 
    K.Durum = 'Mevcut';
GO
/****** Object:  View [dbo].[vw_KitapDetaylari]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =======================================================
-- 5. GÖRÜNÜMLER (CREATE VIEW) - YENİ!
-- Raporundaki "Create View" kutusu için
-- =======================================================
CREATE VIEW [dbo].[vw_KitapDetaylari] AS
SELECT 
    k.Id, 
    k.ISBN, 
    k.Ad AS KitapAdi, 
    (y.Ad + ' ' + y.Soyad) AS YazarTamAdi, 
    c.Ad AS KategoriAdi, 
    k.YayinEvi, 
    k.Durum
FROM Kitaplar k
JOIN Yazarlar y ON k.YazarId = y.Id
JOIN Kategoriler c ON k.KategoriId = c.Id;
GO
/****** Object:  View [dbo].[vw_Yazarlar]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Yazar Listeleme
CREATE VIEW [dbo].[vw_Yazarlar]
AS
SELECT * FROM Yazarlar;
GO
/****** Object:  Table [dbo].[Uyeler]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uyeler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[Telefon] [nvarchar](20) NULL,
	[Eposta] [nvarchar](100) NULL,
	[CezaPuani] [int] NULL,
	[Durum] [nvarchar](20) NULL,
 CONSTRAINT [PK__Uyeler__3214EC074934D72B] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Uyeler_Aktif]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Aktif Üyeleri Listeleme
CREATE VIEW [dbo].[vw_Uyeler_Aktif]
AS
SELECT * FROM Uyeler WHERE Aktif = 1;
GO
/****** Object:  View [dbo].[vw_Kitap_Listesi_Detayli]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Detaylı Kitap Listesi
CREATE VIEW [dbo].[vw_Kitap_Listesi_Detayli]
AS
SELECT K.*, 
       Y.Ad AS YazarAdi, Y.Soyad AS YazarSoyadi, 
       C.Ad AS KategoriAdi
FROM Kitaplar AS K
LEFT JOIN Yazarlar AS Y ON K.YazarId = Y.Id
LEFT JOIN Kategoriler AS C ON K.KategoriId = C.Id
WHERE K.Durum != 'Silindi';
GO
/****** Object:  View [dbo].[vw_Kitap_Listele_Musait]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Müsait Kitapları Listeleme
CREATE VIEW [dbo].[vw_Kitap_Listele_Musait]
AS
SELECT * FROM Kitaplar WHERE Durum = 'Mevcut';
GO
/****** Object:  Table [dbo].[OduncIslemleri]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OduncIslemleri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UyeId] [int] NULL,
	[KitapId] [int] NULL,
	[VerilisTarihi] [datetime] NULL,
	[BeklenenIadeTarihi] [datetime] NULL,
	[TeslimTarihi] [datetime] NULL,
	[Durum] [nvarchar](20) NULL,
 CONSTRAINT [PK__OduncIsl__3214EC07F121D97E] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Odunc_Listele_Aktif]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6. Aktif Ödünçleri Listeleme
CREATE VIEW [dbo].[vw_Odunc_Listele_Aktif]
AS
SELECT O.Id, O.KitapId, O.UyeId, O.OduncAlmaTarihi, O.PlanlananIadeTarihi,
       K.Ad AS KitapAdi, 
       U.Ad AS UyeAdi, U.Soyad AS UyeSoyadi
FROM OduncIslemleri AS O
INNER JOIN Kitaplar AS K ON O.KitapId = K.Id
INNER JOIN Uyeler AS U ON O.UyeId = U.Id
WHERE O.Durum = 'Ödünç Verildi';
GO
/****** Object:  Table [dbo].[Cezalar]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cezalar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UyeId] [int] NULL,
	[OduncIslemiId] [int] NULL,
	[CezaBaslangicTarihi] [datetime] NULL,
	[CezaBitisTarihi] [datetime] NULL,
	[GecikenGunSayisi] [int] NULL,
	[CezaTutari] [decimal](18, 2) NULL,
	[Aciklama] [nvarchar](250) NULL,
	[Odendi] [bit] NULL,
 CONSTRAINT [PK__Cezalar__3214EC070CFF2D7A] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Ceza_Listele_Odenmemis]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 7. Ödenmemiş Cezaları Listeleme
CREATE VIEW [dbo].[vw_Ceza_Listele_Odenmemis]
AS
SELECT C.*, 
       U.Ad AS UyeAdi, U.Soyad AS UyeSoyadi
FROM Cezalar AS C
INNER JOIN Uyeler AS U ON C.UyeId = U.Id
WHERE C.Odendi = 0;
GO
/****** Object:  Table [dbo].[Rezervasyonlar]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervasyonlar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UyeId] [int] NULL,
	[KitapId] [int] NULL,
	[RezervasyonTarihi] [datetime] NULL,
	[Durum] [nvarchar](20) NULL,
 CONSTRAINT [PK__Rezervas__3214EC076A9FB56D] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Rezervasyon_Listele_Aktif]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 8. Aktif Rezervasyonları Listeleme (DÜZELTİLMİŞ HALİ)
CREATE VIEW [dbo].[vw_Rezervasyon_Listele_Aktif]
AS
SELECT R.*, 
       K.Ad AS KitapAdi, 
       U.Ad AS UyeAdi, U.Soyad AS UyeSoyadi
FROM Rezervasyonlar AS R
INNER JOIN Kitaplar AS K ON R.KitapId = K.Id
INNER JOIN Uyeler AS U ON R.UyeId = U.Id  -- <--- Hata burada düzeltildi (O.UyeId -> R.UyeId)
WHERE R.Durum = 'Beklemede' OR R.Durum = 'Hazır';
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251109120112_migration1', N'8.0.21')
GO
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'528c74b7-dad4-4a2b-b4f8-b7806b6e42ef', N'a@15.com', N'A@15.COM', N'a@15.com', N'A@15.COM', 1, N'AQAAAAIAAYagAAAAEP7DSG1iy1+Xm+h9WtPYqDypb5/YsKEkH7EDQIP7EGnNah66+H7zp/BEn7/FQSgCaA==', N'VKMGHT7CU2SDVANBRYBLYJDCSQZGGUFM', N'42bc56c8-130e-4da8-bfcf-d3cd3bd05b20', NULL, 0, 0, NULL, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([Id], [Ad], [Durum]) VALUES (1, N'Roman', N'Mevcut')
INSERT [dbo].[Kategoriler] ([Id], [Ad], [Durum]) VALUES (2, N'Bilim Kurgu', N'Mevcut')
INSERT [dbo].[Kategoriler] ([Id], [Ad], [Durum]) VALUES (3, N'Tarih', N'Mevcut')
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kitaplar] ON 

INSERT [dbo].[Kitaplar] ([Id], [ISBN], [Ad], [YazarId], [KategoriId], [YayinEvi], [YayinYili], [Durum]) VALUES (1, N'1651', N'asdasd', 1, 1, N'dasdad', 1, N'Mevcut')
SET IDENTITY_INSERT [dbo].[Kitaplar] OFF
GO
SET IDENTITY_INSERT [dbo].[Uyeler] ON 

INSERT [dbo].[Uyeler] ([Id], [Ad], [Soyad], [Telefon], [Eposta], [CezaPuani], [Durum]) VALUES (1, N'ugur', N'arat', NULL, N'a@gmail.com', 0, N'Mevcut')
SET IDENTITY_INSERT [dbo].[Uyeler] OFF
GO
SET IDENTITY_INSERT [dbo].[Yazarlar] ON 

INSERT [dbo].[Yazarlar] ([Id], [Ad], [Soyad], [Durum]) VALUES (1, N'J.K.', N'Rowling', N'Mevcut')
INSERT [dbo].[Yazarlar] ([Id], [Ad], [Soyad], [Durum]) VALUES (2, N'George', N'Orwell', N'Mevcut')
INSERT [dbo].[Yazarlar] ([Id], [Ad], [Soyad], [Durum]) VALUES (3, N'Sabahattin', N'Ali', N'Mevcut')
SET IDENTITY_INSERT [dbo].[Yazarlar] OFF
GO
ALTER TABLE [dbo].[Cezalar] ADD  CONSTRAINT [DF__Cezalar__Odendi__257187A8]  DEFAULT ((0)) FOR [Odendi]
GO
ALTER TABLE [dbo].[Kategoriler] ADD  CONSTRAINT [DF__Kategoril__Durum__125EB334]  DEFAULT ('Mevcut') FOR [Durum]
GO
ALTER TABLE [dbo].[Kitaplar] ADD  CONSTRAINT [DF__Kitaplar__Durum__18178C8A]  DEFAULT ('Mevcut') FOR [Durum]
GO
ALTER TABLE [dbo].[OduncIslemleri] ADD  CONSTRAINT [DF__OduncIsle__Durum__20ACD28B]  DEFAULT ('Devam Ediyor') FOR [Durum]
GO
ALTER TABLE [dbo].[Rezervasyonlar] ADD  CONSTRAINT [DF__Rezervasy__Durum__2A363CC5]  DEFAULT ('Aktif') FOR [Durum]
GO
ALTER TABLE [dbo].[Uyeler] ADD  CONSTRAINT [DF__Uyeler__CezaPuan__1CDC41A7]  DEFAULT ((0)) FOR [CezaPuani]
GO
ALTER TABLE [dbo].[Uyeler] ADD  CONSTRAINT [DF__Uyeler__Durum__1DD065E0]  DEFAULT ('Mevcut') FOR [Durum]
GO
ALTER TABLE [dbo].[Yazarlar] ADD  CONSTRAINT [DF__Yazarlar__Durum__153B1FDF]  DEFAULT ('Mevcut') FOR [Durum]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Cezalar]  WITH CHECK ADD  CONSTRAINT [FK__Cezalar__OduncIs__2759D01A] FOREIGN KEY([OduncIslemiId])
REFERENCES [dbo].[OduncIslemleri] ([Id])
GO
ALTER TABLE [dbo].[Cezalar] CHECK CONSTRAINT [FK__Cezalar__OduncIs__2759D01A]
GO
ALTER TABLE [dbo].[Cezalar]  WITH CHECK ADD  CONSTRAINT [FK__Cezalar__UyeId__2665ABE1] FOREIGN KEY([UyeId])
REFERENCES [dbo].[Uyeler] ([Id])
GO
ALTER TABLE [dbo].[Cezalar] CHECK CONSTRAINT [FK__Cezalar__UyeId__2665ABE1]
GO
ALTER TABLE [dbo].[Kitaplar]  WITH CHECK ADD  CONSTRAINT [FK__Kitaplar__Katego__19FFD4FC] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategoriler] ([Id])
GO
ALTER TABLE [dbo].[Kitaplar] CHECK CONSTRAINT [FK__Kitaplar__Katego__19FFD4FC]
GO
ALTER TABLE [dbo].[Kitaplar]  WITH CHECK ADD  CONSTRAINT [FK__Kitaplar__YazarI__190BB0C3] FOREIGN KEY([YazarId])
REFERENCES [dbo].[Yazarlar] ([Id])
GO
ALTER TABLE [dbo].[Kitaplar] CHECK CONSTRAINT [FK__Kitaplar__YazarI__190BB0C3]
GO
ALTER TABLE [dbo].[OduncIslemleri]  WITH CHECK ADD  CONSTRAINT [FK__OduncIsle__Kitap__22951AFD] FOREIGN KEY([KitapId])
REFERENCES [dbo].[Kitaplar] ([Id])
GO
ALTER TABLE [dbo].[OduncIslemleri] CHECK CONSTRAINT [FK__OduncIsle__Kitap__22951AFD]
GO
ALTER TABLE [dbo].[OduncIslemleri]  WITH CHECK ADD  CONSTRAINT [FK__OduncIsle__UyeId__21A0F6C4] FOREIGN KEY([UyeId])
REFERENCES [dbo].[Uyeler] ([Id])
GO
ALTER TABLE [dbo].[OduncIslemleri] CHECK CONSTRAINT [FK__OduncIsle__UyeId__21A0F6C4]
GO
ALTER TABLE [dbo].[Rezervasyonlar]  WITH CHECK ADD  CONSTRAINT [FK__Rezervasy__Kitap__2C1E8537] FOREIGN KEY([KitapId])
REFERENCES [dbo].[Kitaplar] ([Id])
GO
ALTER TABLE [dbo].[Rezervasyonlar] CHECK CONSTRAINT [FK__Rezervasy__Kitap__2C1E8537]
GO
ALTER TABLE [dbo].[Rezervasyonlar]  WITH CHECK ADD  CONSTRAINT [FK__Rezervasy__UyeId__2B2A60FE] FOREIGN KEY([UyeId])
REFERENCES [dbo].[Uyeler] ([Id])
GO
ALTER TABLE [dbo].[Rezervasyonlar] CHECK CONSTRAINT [FK__Rezervasy__UyeId__2B2A60FE]
GO
/****** Object:  StoredProcedure [dbo].[sp_Ceza_Listele_Odenmemis]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 12. Ödenmemiş Ceza Listesi
CREATE PROCEDURE [dbo].[sp_Ceza_Listele_Odenmemis]
AS BEGIN
    SET NOCOUNT ON;
    SELECT C.*, U.Ad AS UyeAdi, U.Soyad AS UyeSoyadi
    FROM Cezalar AS C
    INNER JOIN Uyeler AS U ON C.UyeId = U.Id
    WHERE C.Odendi = 0
    ORDER BY C.CezaBaslangicTarihi DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Ceza_Yonet]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Ceza_Yonet] (@Islem NVARCHAR(20), @Id INT = NULL) AS
BEGIN
    IF @Islem = 'select' SELECT c.*, (u.Ad + ' ' + u.Soyad) AS UyeTamAdi, k.Ad AS KitapAdi FROM Cezalar c LEFT JOIN Uyeler u ON c.UyeId = u.Id LEFT JOIN OduncIslemleri o ON c.OduncIslemiId = o.Id LEFT JOIN Kitaplar k ON o.KitapId = k.Id
    IF @Islem = 'ode' UPDATE Cezalar SET Odendi = 1 WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Iade_Al]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Iade_Al] (@OduncId INT) AS
BEGIN
    DECLARE @KitapId INT; SELECT @KitapId = KitapId FROM OduncIslemleri WHERE Id = @OduncId
    UPDATE OduncIslemleri SET TeslimTarihi = GETDATE(), Durum = 'Tamamlandı' WHERE Id = @OduncId
    UPDATE Kitaplar SET Durum = 'Mevcut' WHERE Id = @KitapId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Kategori_Listele]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 8. Kategori Listele
CREATE PROCEDURE [dbo].[sp_Kategori_Listele]
AS BEGIN SET NOCOUNT ON; SELECT * FROM Kategoriler ORDER BY Ad; END
GO
/****** Object:  StoredProcedure [dbo].[sp_Kategori_Yonet]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =======================================================
-- 6. PROSEDÜRLER (CREATE PROCEDURE)
-- Raporundaki "Create Procedure" kutusu için
-- =======================================================
CREATE PROCEDURE [dbo].[sp_Kategori_Yonet] (@Islem NVARCHAR(20), @Id INT = NULL, @Ad NVARCHAR(100) = NULL) AS
BEGIN
    IF @Islem = 'select' SELECT * FROM Kategoriler WHERE Durum != 'Silindi'
    IF @Islem = 'insert' INSERT INTO Kategoriler (Ad, Durum) VALUES (@Ad, 'Mevcut')
    IF @Islem = 'update' UPDATE Kategoriler SET Ad = @Ad WHERE Id = @Id
    IF @Islem = 'delete' UPDATE Kategoriler SET Durum = 'Silindi' WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Kitap_Listele_Musait]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Kitap_Listele_Musait] AS
BEGIN
    SELECT * FROM Kitaplar WHERE Durum = 'Mevcut' AND Id NOT IN (SELECT KitapId FROM OduncIslemleri WHERE TeslimTarihi IS NULL)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Kitap_Yonet]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Kitap_Yonet] (@Islem NVARCHAR(20), @Id INT = NULL, @ISBN NVARCHAR(50) = NULL, @Ad NVARCHAR(100) = NULL, @YazarId INT = NULL, @KategoriId INT = NULL, @YayinEvi NVARCHAR(100) = NULL, @YayinYili INT = NULL, @Durum NVARCHAR(20) = NULL) AS
BEGIN
    IF @Islem = 'select' SELECT k.Id, k.ISBN, k.Ad, k.YazarId, y.Ad + ' ' + y.Soyad AS YazarTamAd, k.KategoriId, c.Ad AS KategoriAdi, k.YayinEvi, k.YayinYili, dbo.fn_BasimTuruBul(k.YayinYili) AS BasimTuru, k.Durum FROM Kitaplar k LEFT JOIN Yazarlar y ON k.YazarId = y.Id LEFT JOIN Kategoriler c ON k.KategoriId = c.Id WHERE k.Durum != 'Silindi'
    IF @Islem = 'add' OR @Islem = 'insert' INSERT INTO Kitaplar (ISBN, Ad, YazarId, KategoriId, YayinEvi, YayinYili, Durum) VALUES (@ISBN, @Ad, @YazarId, @KategoriId, @YayinEvi, @YayinYili, 'Mevcut')
    IF @Islem = 'update' UPDATE Kitaplar SET ISBN=@ISBN, Ad=@Ad, YazarId=@YazarId, KategoriId=@KategoriId, YayinEvi=@YayinEvi, YayinYili=@YayinYili WHERE Id=@Id
    IF @Islem = 'delete' UPDATE Kitaplar SET Durum='Silindi' WHERE Id=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Odunc_Listele_Aktif]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Odunc_Listele_Aktif] AS
BEGIN
    SELECT o.Id, o.UyeId, o.KitapId, o.VerilisTarihi AS OduncAlmaTarihi, o.BeklenenIadeTarihi AS PlanlananIadeTarihi, o.TeslimTarihi, o.Durum, k.Ad AS KitapAdi, k.ISBN AS KitapISBN, (u.Ad + ' ' + u.Soyad) AS UyeTamAdi FROM OduncIslemleri o JOIN Kitaplar k ON o.KitapId = k.Id JOIN Uyeler u ON o.UyeId = u.Id WHERE o.TeslimTarihi IS NULL
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Odunc_Ver]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Odunc_Ver] (@UyeId INT, @KitapId INT, @IadeTarihi DATETIME) AS
BEGIN
    INSERT INTO OduncIslemleri (UyeId, KitapId, VerilisTarihi, BeklenenIadeTarihi, Durum) VALUES (@UyeId, @KitapId, GETDATE(), @IadeTarihi, 'Devam Ediyor')
    UPDATE Kitaplar SET Durum = 'Odunc Verildi' WHERE Id = @KitapId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Rezervasyon_Iptal]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Rezervasyon_Iptal] (@RezervasyonId INT) AS
BEGIN
    UPDATE Rezervasyonlar SET Durum = 'İptal' WHERE Id = @RezervasyonId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Rezervasyon_Listele_Aktif]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Rezervasyon_Listele_Aktif] AS
BEGIN
    SELECT r.Id, r.UyeId, r.KitapId, r.RezervasyonTarihi, r.Durum, k.Ad AS KitapAdi, k.ISBN AS KitapISBN, (u.Ad + ' ' + u.Soyad) AS UyeTamAdi FROM Rezervasyonlar r JOIN Kitaplar k ON r.KitapId = k.Id JOIN Uyeler u ON r.UyeId = u.Id WHERE r.Durum = 'Aktif' OR r.Durum = 'Sıra Geldi'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Rezervasyon_Yap]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Rezervasyon_Yap] (@UyeId INT, @KitapId INT) AS
BEGIN
    INSERT INTO Rezervasyonlar (UyeId, KitapId, RezervasyonTarihi, Durum) VALUES (@UyeId, @KitapId, GETDATE(), 'Aktif')
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Uye_Yonet]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Uye_Yonet]
(
    @Islem NVARCHAR(20),
    @Id INT = NULL,
    @Ad NVARCHAR(50) = NULL,
    @Soyad NVARCHAR(50) = NULL,
    @Telefon NVARCHAR(20) = NULL,
    @Eposta NVARCHAR(100) = NULL,
    @CezaPuani INT = 0
)
AS
BEGIN
    -- 1. LİSTELEME
    IF @Islem = 'select' 
    BEGIN
        SELECT 
            Id,
            Ad,
            Soyad,
            Telefon,
            Eposta,
            -- KRİTİK NOKTA BURASI:
            Eposta AS Email, -- C# kodun 'Email' arıyor, veritabanı 'Eposta' veriyor. Bu satır onları eşitler.
            CezaPuani,
            Durum,
            (Ad + ' ' + Soyad) AS TamAd 
        FROM Uyeler 
        WHERE Durum != 'Silindi'
    END

    -- 2. EKLEME (Hem 'insert' hem 'add' kabul etsin ki C# tarafı ne gönderirse göndersin çalışsın)
    ELSE IF @Islem = 'insert' OR @Islem = 'add'
    BEGIN
        INSERT INTO Uyeler (Ad, Soyad, Telefon, Eposta, CezaPuani, Durum) 
        VALUES (@Ad, @Soyad, @Telefon, @Eposta, 0, 'Mevcut')
    END

    -- 3. GÜNCELLEME
    ELSE IF @Islem = 'update' 
    BEGIN
        UPDATE Uyeler 
        SET Ad=@Ad, Soyad=@Soyad, Telefon=@Telefon, Eposta=@Eposta 
        WHERE Id=@Id
    END

    -- 4. SİLME
    ELSE IF @Islem = 'delete' 
    BEGIN
        UPDATE Uyeler SET Durum='Silindi' WHERE Id=@Id
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Yazar_Listele]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 9. Yazar Listele
CREATE PROCEDURE [dbo].[sp_Yazar_Listele]
AS BEGIN SET NOCOUNT ON; SELECT * FROM Yazarlar ORDER BY Ad; END
GO
/****** Object:  StoredProcedure [dbo].[sp_Yazar_Yonet]    Script Date: 27.11.2025 11:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Yazar_Yonet] (@Islem NVARCHAR(20), @Id INT = NULL, @Ad NVARCHAR(50) = NULL, @Soyad NVARCHAR(50) = NULL) AS
BEGIN
    IF @Islem = 'select' SELECT Id, Ad, Soyad, (Ad + ' ' + Soyad) AS TamAd, Durum FROM Yazarlar WHERE Durum != 'Silindi'
    IF @Islem = 'insert' INSERT INTO Yazarlar (Ad, Soyad, Durum) VALUES (@Ad, @Soyad, 'Mevcut')
    IF @Islem = 'update' UPDATE Yazarlar SET Ad = @Ad, Soyad = @Soyad WHERE Id = @Id
    IF @Islem = 'delete' UPDATE Yazarlar SET Durum = 'Silindi' WHERE Id = @Id
END
GO
