USE [LibraryDb]
GO
/****** Object:  UserDefinedTableType [dbo].[Type_Dictionary_String_Object]    Script Date: 26.12.2025 05:38:24 ******/
CREATE TYPE [dbo].[Type_Dictionary_String_Object] AS TABLE(
	[Key] [nvarchar](max) NULL,
	[Value] [sql_variant] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[Type_Dictionary_String_String]    Script Date: 26.12.2025 05:38:24 ******/
CREATE TYPE [dbo].[Type_Dictionary_String_String] AS TABLE(
	[Key] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL
)
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 26.12.2025 05:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](100) NOT NULL,
	[Aciklama] [nvarchar](250) NULL,
	[AktifMi] [bit] NULL,
 CONSTRAINT [PK_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yazarlar]    Script Date: 26.12.2025 05:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yazarlar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](150) NOT NULL,
	[Biyografi] [nvarchar](max) NULL,
	[AktifMi] [bit] NULL,
 CONSTRAINT [PK_Yazarlar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kitaplar]    Script Date: 26.12.2025 05:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kitaplar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [nvarchar](13) NOT NULL,
	[Baslik] [nvarchar](200) NOT NULL,
	[YazarId] [int] NOT NULL,
	[KategoriId] [int] NOT NULL,
	[YayinEvi] [nvarchar](100) NULL,
	[YayinYili] [int] NULL,
	[SayfaSayisi] [int] NULL,
	[StokAdeti] [int] NULL,
	[ResimUrl] [nvarchar](250) NULL,
	[EklenmeTarihi] [datetime] NULL,
	[AktifMi] [bit] NULL,
 CONSTRAINT [PK_Kitaplar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_KitapDetaylari]    Script Date: 26.12.2025 05:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_KitapDetaylari]
AS
SELECT 
    k.Id,
    k.ISBN,
    k.Baslik,
    y.AdSoyad AS YazarAdi,
    c.Ad AS KategoriAdi,
    k.YayinEvi,
    k.StokAdeti,
    k.AktifMi
FROM dbo.Kitaplar k
INNER JOIN dbo.Yazarlar y ON k.YazarId = y.Id
INNER JOIN dbo.Kategoriler c ON k.KategoriId = c.Id
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 26.12.2025 05:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 26.12.2025 05:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 26.12.2025 05:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 26.12.2025 05:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 26.12.2025 05:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 26.12.2025 05:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 26.12.2025 05:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[Ad] [nvarchar](max) NOT NULL,
	[Soyad] [nvarchar](max) NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[KayitTarihi] [datetime2](7) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 26.12.2025 05:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 26.12.2025 05:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SifreHash] [nvarchar](max) NOT NULL,
	[Telefon] [nvarchar](20) NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[KayitTarihi] [datetime] NULL,
	[AktifMi] [bit] NULL,
 CONSTRAINT [PK_Kullanicilar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs_Table]    Script Date: 26.12.2025 05:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs_Table](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](50) NOT NULL,
	[Operation] [nvarchar](20) NOT NULL,
	[RecordId] [int] NOT NULL,
	[LogDate] [datetime] NULL,
	[Details] [nvarchar](max) NULL,
 CONSTRAINT [PK_Logs_Table] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kategoriler] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Kitaplar] ADD  DEFAULT ((0)) FOR [StokAdeti]
GO
ALTER TABLE [dbo].[Kitaplar] ADD  DEFAULT (getdate()) FOR [EklenmeTarihi]
GO
ALTER TABLE [dbo].[Kitaplar] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Logs_Table] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[Yazarlar] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Kitaplar]  WITH CHECK ADD  CONSTRAINT [FK_Kitaplar_Kategoriler] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategoriler] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kitaplar] CHECK CONSTRAINT [FK_Kitaplar_Kategoriler]
GO
ALTER TABLE [dbo].[Kitaplar]  WITH CHECK ADD  CONSTRAINT [FK_Kitaplar_Yazarlar] FOREIGN KEY([YazarId])
REFERENCES [dbo].[Yazarlar] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kitaplar] CHECK CONSTRAINT [FK_Kitaplar_Yazarlar]
GO
/****** Object:  StoredProcedure [dbo].[sp_Kategoriler_Islem]    Script Date: 26.12.2025 05:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Kategoriler_Islem]
    @IslemTuru nvarchar(20) = 'LISTE', -- LISTE, KAYDET, SIL
    @Id int = 0,
    @Ad nvarchar(100) = NULL,
    @Aciklama nvarchar(250) = NULL,
    @AktifMi bit = 1,
    
    -- Hocanın UnitOfWork yapısından gelen Sayfalama Parametreleri
    -- (UnitOfWork buraya Table Type gönderiyor ama biz basit parametre olarak alacağız, 
    -- çünkü UnitOfWork params dictionary de destekliyor.)
    @PageNumber int = 1,
    @PageSize int = 10,
    @SearchText nvarchar(100) = NULL -- Arama yapmak için
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. LİSTELEME VE ARAMA İŞLEMİ
    IF @IslemTuru = 'LISTE'
    BEGIN
        DECLARE @Offset int = (@PageNumber - 1) * @PageSize;

        -- Önce toplam kayıt sayısını bulalım (Sayfalama için gerekli)
        DECLARE @TotalCount int;
        SELECT @TotalCount = COUNT(*) 
        FROM Kategoriler 
        WHERE (@SearchText IS NULL OR Ad LIKE '%' + @SearchText + '%');

        -- Verileri çekelim
        SELECT 
            *,
            @TotalCount as TotalRecordCount -- Toplam sayıyı her satıra ekliyoruz
        FROM Kategoriler
        WHERE (@SearchText IS NULL OR Ad LIKE '%' + @SearchText + '%')
        ORDER BY Id DESC -- Veya parametreden gelen sıralama
        OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
    END

    -- 2. KAYDETME (EKLEME ve GÜNCELLEME)
    ELSE IF @IslemTuru = 'KAYDET'
    BEGIN
        IF @Id = 0 -- ID 0 ise Yeni Kayıt
        BEGIN
            INSERT INTO Kategoriler (Ad, Aciklama, AktifMi)
            VALUES (@Ad, @Aciklama, @AktifMi);
        END
        ELSE -- ID varsa Güncelleme
        BEGIN
            UPDATE Kategoriler
            SET Ad = @Ad, Aciklama = @Aciklama, AktifMi = @AktifMi
            WHERE Id = @Id;
        END
    END

    -- 3. SİLME İŞLEMİ
    ELSE IF @IslemTuru = 'SIL'
    BEGIN
        DELETE FROM Kategoriler WHERE Id = @Id;
        
        -- Log tablosuna işlendiği Trigger ile hallediliyor, buraya yazmaya gerek yok.
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Kitaplar_Islem]    Script Date: 26.12.2025 05:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Kitaplar_Islem]
    @IslemTuru nvarchar(20) = 'LISTE',
    @Id int = 0,
    @ISBN nvarchar(20) = NULL,
    @Baslik nvarchar(200) = NULL,
    @YazarId int = 0,
    @KategoriId int = 0,
    @YayinEvi nvarchar(100) = NULL,
    @SayfaSayisi int = 0,
    @StokAdeti int = 0,
    @AktifMi bit = 1,
    @PageNumber int = 1,
    @PageSize int = 10,
    @SearchText nvarchar(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @IslemTuru = 'LISTE'
    BEGIN
        DECLARE @Offset int = (@PageNumber - 1) * @PageSize;
        DECLARE @TotalCount int;
        
        -- Arama ve Sayım
        SELECT @TotalCount = COUNT(*) FROM Kitaplar k
        WHERE (@SearchText IS NULL OR k.Baslik LIKE '%' + @SearchText + '%');

        -- Verileri Çek (Adlarıyla beraber)
        SELECT 
            k.*, 
            y.AdSoyad AS YazarAdi, 
            c.Ad AS KategoriAdi,
            @TotalCount as TotalRecordCount
        FROM Kitaplar k
        LEFT JOIN Yazarlar y ON k.YazarId = y.Id
        LEFT JOIN Kategoriler c ON k.KategoriId = c.Id
        WHERE (@SearchText IS NULL OR k.Baslik LIKE '%' + @SearchText + '%')
        ORDER BY k.Id DESC
        OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
    END
    ELSE IF @IslemTuru = 'KAYDET'
    BEGIN
        IF @Id = 0
            INSERT INTO Kitaplar (ISBN, Baslik, YazarId, KategoriId, YayinEvi, SayfaSayisi, StokAdeti, AktifMi)
            VALUES (@ISBN, @Baslik, @YazarId, @KategoriId, @YayinEvi, @SayfaSayisi, @StokAdeti, @AktifMi);
        ELSE
            UPDATE Kitaplar SET ISBN=@ISBN, Baslik=@Baslik, YazarId=@YazarId, KategoriId=@KategoriId, 
                                YayinEvi=@YayinEvi, SayfaSayisi=@SayfaSayisi, StokAdeti=@StokAdeti, AktifMi=@AktifMi
            WHERE Id = @Id;
    END
    ELSE IF @IslemTuru = 'SIL'
    BEGIN
        DELETE FROM Kitaplar WHERE Id = @Id;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Rapor_KategoriKitapSayilari]    Script Date: 26.12.2025 05:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Rapor_KategoriKitapSayilari]
AS
BEGIN
    SELECT 
        k.Ad AS KategoriAdi, 
        COUNT(b.Id) AS KitapSayisi
    FROM Kategoriler k
    LEFT JOIN Kitaplar b ON k.Id = b.KategoriId
    WHERE k.AktifMi = 1
    GROUP BY k.Ad
END
GO
/****** Object:  StoredProcedure [dbo].[sp_System_Add_Log]    Script Date: 26.12.2025 05:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. DBLOGGER İÇİN SAKLI YORDAM (SP - Madde 19-b Hazırlık)
-- C# tarafından çağırıp log eklemek için
CREATE PROCEDURE [dbo].[sp_System_Add_Log]
    @TableName nvarchar(50),
    @Operation nvarchar(20),
    @RecordId int,
    @Details nvarchar(max)
AS
BEGIN
    INSERT INTO Logs_Table (TableName, Operation, RecordId, Details, LogDate)
    VALUES (@TableName, @Operation, @RecordId, @Details, GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Yazarlar_Islem]    Script Date: 26.12.2025 05:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Yazarlar_Islem]
    @IslemTuru nvarchar(20) = 'LISTE',
    @Id int = 0,
    @AdSoyad nvarchar(150) = NULL,
    @Biyografi nvarchar(max) = NULL,
    @AktifMi bit = 1,
    @PageNumber int = 1,
    @PageSize int = 10,
    @SearchText nvarchar(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @IslemTuru = 'LISTE'
    BEGIN
        DECLARE @Offset int = (@PageNumber - 1) * @PageSize;
        DECLARE @TotalCount int;
        
        SELECT @TotalCount = COUNT(*) FROM Yazarlar 
        WHERE (@SearchText IS NULL OR AdSoyad LIKE '%' + @SearchText + '%');

        SELECT *, @TotalCount as TotalRecordCount FROM Yazarlar
        WHERE (@SearchText IS NULL OR AdSoyad LIKE '%' + @SearchText + '%')
        ORDER BY Id DESC
        OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
    END
    ELSE IF @IslemTuru = 'KAYDET'
    BEGIN
        IF @Id = 0
            INSERT INTO Yazarlar (AdSoyad, Biyografi, AktifMi) VALUES (@AdSoyad, @Biyografi, @AktifMi);
        ELSE
            UPDATE Yazarlar SET AdSoyad = @AdSoyad, Biyografi = @Biyografi, AktifMi = @AktifMi WHERE Id = @Id;
    END
    ELSE IF @IslemTuru = 'SIL'
    BEGIN
        DELETE FROM Yazarlar WHERE Id = @Id;
    END
END
GO
